alabaster==0.7.12
Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
Django==2.1.5
django-ckeditor==5.6.1
django-js-asset==1.1.0
django-smtp-ssl==1.0
django-widget-tweaks==1.4.3
docutils==0.14
future==0.17.1
gunicorn==19.9.0
idna==2.8
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
packaging==19.0
Pillow==9.0.1
pkg-resources==0.0.0
psycopg2==2.7.6.1
Pygments==2.3.1
pyparsing==2.3.1
pytz==2018.9
PyYAML==3.13
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
tqdm==4.29.1
urllib3==1.24.1
