{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Enter new password{% endblock %}

{% block content %}

{{form.as_p}}
<br><br>
<h1>Set a new password!</h1><br>
<form method="post" action="">
				{% csrf_token %}
				<div class="form-group">
					{{form.password | add_class:"form-control" | attr:"placeholder:Enter new password"}}
				</div>

				<div class="form-group">
					{{form.password | add_class:"form-control" | attr:"placeholder:Confirm Password"}}
				</div>

				<button type="submit" class="btn btn-secondary btn-lg">Change my password</button>
			</form><br>
{% endblock %}
