{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

{% if usr_err %}
	<div class="alert alert-danger">{{usr_err}}</div>
{% endif %}
<div class="container">
	 <br><br><br>
	<h1>Forgot your password?</h1>
	<p>Enter your Username below, and we'll help you for setting a new one.</p>
	<form method="post" action="">
		{% csrf_token %}
		<div class="form-group">
			{{form.username | add_class:"form-control" | attr:"placeholder:Enter Username"}}
		</div>
		

		<button type="submit" class="btn btn-secondary btn-lg">Reset password</button>
	</form><br>
</div>

{% endblock %}

