{%load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{{title}} | E-Invite</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->

    <script type="text/JavaScript" src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script type="text/JavaScript" src="{% static 'js/bootstrap.min.js'%}"></script>
    <script type="text/JavaScript" src="{% static 'js/all.min.js'%}"></script>
    <script>
      // $('.invi_card').animateCss('bounce');
      $(document).ready(()=>{
        $('.text_2').addClass('animated slideInLeft ');
        $('.text_1').addClass('animated slideInRight');
      })
    </script>
      </body>
</html>
