{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstarp.min.css' %}">
    
    <!-- Bootstrap CSS -->

    <title>Hello, world!</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/all.min.js %'}"></script>
    <script type="text/javascript" src="{% static 'js/bootstarp.min.js' %}"></script>
   </body>
</html>
