{% extends 'base.html' %}

{% block content %}
{{form.as_p}}
<div class="card_wr">
	<div class="invi_card">
		<div class="text_1">Save the date</div>
		<div class="text_2">James & jane</div>
	</div>
</div>
<br><br>
<a href="{% url  'logout' %}"><button type="submit" class="btn btn-secondary btn-lg">Logout</button></a>
<a href="{% url  'signup' %}"><button type="submit" class="btn btn-secondary btn-lg">Signup</button></a>
<a href="{% url  'profile' %}"><button type="submit" class="btn btn-secondary btn-lg">Profile</button></a>

{% endblock%}
