{% extends 'base.html' %}
{% block content %}

<!-- <div class="main">
  <div class="slider slider-for">
    {% for x in cards_data %}
			{% if x.category == 'wedding' %}
	  			<div>
	  				<center><a href="{% url 'edit_card' x.id  %}">
	  				<img src="{{x.image.url}}"></a>
	  				<span>This is Wedding Card.</span></center>
	  			</div>
	  		{% elif x.category == 'birthday' %}
	  			<div>
	  				<center><a href="{% url 'edit_card' x.id  %}">
	  				<img src="{{x.image.url}}"></a>
	  				<span>This is Birthday Card.</span></center>
	  			</div>
	  		{% elif x.category == 'inauguration' %}
	  			<div>
	  				<center><a href="{% url 'edit_card' x.id  %}">
	  				<img src="{{x.image.url}}"></a>
	  				<span>This is Inauguration Card.</span></center>
	  			</div>
	  		{% endif %}
	  	{% endfor %}
  </div>
  <div class="slider slider-nav">
    {% for x in cards_data %}
			{% if x.category == 'wedding' %}
	  			<div>
	  				<center><a href="{% url 'edit_card' x.id  %}">
	  				<img src="{{x.image.url}}"></a>
	  				<span>This is Wedding Card.</span></center>
	  			</div>
	  		{% elif x.category == 'birthday' %}
	  			<div>
	  				<center><a href="{% url 'edit_card' x.id  %}">
	  				<img src="{{x.image.url}}"></a>
	  				<span>This is Birthday Card.</span></center>
	  			</div>
	  		{% elif x.category == 'inauguration' %}
	  			<div>
	  				<center><a href="{% url 'edit_card' x.id  %}">
	  				<img src="{{x.image.url}}"></a>
	  				<span>This is Inauguration Card.</span></center>
	  			</div>
	  		{% endif %}
	  	{% endfor %}
  </div>
</div> -->

<div class="rio-promos">
	  	{% for x in cards_data %}
			
			<a href="{% url 'edit_card' x.id  %}"><img src="{{x.image.url}}"></a>

		{% endfor %}
	</div>


{% endblock%}
