{% extends 'base.html' %}
{% load static %}
<div class="card_wr">
{% block content %}
	<div class="card_slider">
	  <div class="card_img_wr">
	  	<span class="card_desc">
	  		<h1>wedding cards</h1>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  	consequat. Duis aute.</span>
	  	<img src="{% static 'images/wedding_card.png' %}" class="img-fluid card_img">
	  </div>
	  <div class="card_img_wr">
	  	<span class="card_desc">
	  		<h1>wedding cards</h1>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  	consequat. Duis aute.</span>
	  	<img src="{% static 'images/wedding_card.png' %}" class="img-fluid card_img">
	  </div>
	  <div class="card_img_wr">
	  	<span class="card_desc">
	  		<h1>wedding cards</h1>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  	consequat. Duis aute.</span>
	  	<img src="{% static 'images/wedding_card.png' %}" class="img-fluid card_img">
	  </div>
	</div>
{% endblock%}
