
body, html{
	background: #e6e6e6;
	width: 100%;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

body{
	position: relative;
	padding-bottom: 195px;
}

canvas{
	background: #fff;
}

/*login page css start from here*/
.form_wr{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
}

.form_wr h1{
	text-align: center;
	margin: 15px 0;
}

/*signup form start from here*/

.signup_form_wr{
	margin: 15px auto 60px auto;
}

/*footer css start from here*/
footer.bg-dark.footer-wr {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-wr p.follow {
    color: gainsboro;
    font-size: 20px;
    margin: 15px;
}

.social-wr a{
    color: gainsboro;
    position: relative;
    z-index: 10;
}

.social-wr svg {
    margin: 15px 30px;
    font-size: 25px;
}

.footer-first{
	margin: 15px 0;
}

.footer-second{
	background-color: #181b1f;
}

.footer-second a {
	color: gainsboro;
	padding: 10px;
	text-align: center;
	display: inline-block;
	width: 100%;
}


/*dashboard css start from here*/
.sidebar_wr{
	background-color: #009688;
	margin: 1px 0 0 0;
	min-height: 90vh;
}

.sidebar_wr ul{
	margin: 0px;
	padding: 0px;
}

.sidebar_wr li {
	list-style: none;
	background-color: #00796B;
	margin: 1.5px 0;
}

.sidebar_wr li a{
	padding: 15px;
	color: gainsboro;
	font-weight: 500;
	text-decoration: none;
	display: block;
}

/*dashboard css start from here*/
.dash_title {
	font-size: 20px;
	padding: 15px;
	background-color: #fff;
	margin: 2px 0 15px 0;

}