{% extends 'dashboard-base.html' %}

{% block dash_content%}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="dash_card">
				<i class="fa-3x fas fa-file-alt text-success"></i>
				<p>123<span>Total Visits</span></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dash_card">
				<i class="fa-3x fas fa-user text-primary"></i>
				<p>123<span>Total Users</span></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dash_card">
				<i class="fa-3x fas fa-envelope text-danger"></i>
				<p>123<span>Total Mails</span></p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dash_card">
				<i class="fa-3x fas fa-exclamation-triangle text-warning"></i>
				<p>123<span>Bug Reports</span></p>
			</div>
		</div>
	</div>
</div>
{% endblock%}