{% extends 'dashboard-base.html' %}
{% load widget_tweaks %}
{% block title_content %}

<span class="badge badge-primary float-right pointer" data-toggle="modal" data-target="#add_mail" ><i class="fas fa-plus-circle"  ></i>  Compose</span>

{% endblock %}
{% block dash_content %}
<div class="container-fluid">
	<div class="row">
		<div class="modal fade" id="add_mail" tabindex="-1" role="dialog" aria-labelledby="add_mail" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Send Mails</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
					<form method="post" action="" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<div class="row">
								<div class="col">
									{{ send_data.to|attr:"type: email"|add_class:"form-control"|attr:"placeholder:Receiver's Address" }}		
								</div>
							</div>	
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col">
									{{ send_data.subject|attr:"type: email"|add_class:"form-control"|attr:"placeholder:Subject" }}		
								</div>
							</div>	
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col">
									{{ send_data.message|attr:"type: email"|add_class:"form-control"|attr:"cols:4"|attr:"rows:4" |attr:"placeholder:Message"}}		
								</div>
							</div>	
						</div>
						<input type="submit" class="btn btn-primary" value="Send">
					</form>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="col-md-12">
			
			<div class="card">
				<div class="tab">
					<button class="tablinks" onclick="tabslist(event, 'sent_mails')">Sent Mails</button>
					<button class="tablinks" onclick="tabslist(event, 'receive_mails')">Received Mails</button>
				</div>
				<!-- Tab content -->
				<div id="sent_mails" class="tabcontent" style="display: block;">
					<table class="table table-striped table-bordered email-table">
						<thead>
							<tr>
								<th>S.No.</th>
								<th>Senders</th>
								<th>Subject</th>
							</tr>
						</thead>
						<tbody>
							{% for x in data %}
								<tr>
									<td>{{x.id}}</td>
									<td>{{x.to}}</td>
									<td>{{x.subject}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			<div id="receive_mails" class="tabcontent">
				<table class="table table-striped table-bordered email-table">
						<thead>
							<tr>
								<th>S.No.</th>
								<th>Receivers</th>
								<th>Subject</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


