{% extends 'dashboard-base.html' %}
{% load widget_tweaks %}
{% block dash_content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<form>
					  <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="First name">
					    </div>
					  </div>
					  <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="Last name">
					    </div>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}